<div class="app-card" >
    {% if params.status == "approved" %}
         <strong class="govuk-tag govuk-tag--green">
          Approved
        </strong>
     {% elseif params.status =="not approved"%}
        <strong class="govuk-tag govuk-tag--red">
          Not approved
        </strong>
     {% else %}
        <strong class="govuk-tag govuk-tag--yellow">
          Awaiting decision
        </strong>
     {% endif %}

    <p> </p>
    <h2 class="govuk-heading-m">Full name</h2>
    <p class="govuk-body">{{ params.fullName }}</p>
    <h2 class="govuk-heading-s">Vehicle reg</h2>
    <p class="govuk-body">{{ params.vehicleReg }}</p>
     

     <p> </p>
       <p><a href="/applications/{{ params.id }}">View</a></p>

</div>
