<div class="app-card" >
    <h2 class="govuk-heading-m">Id: {{ params.id }}</h2>
    <h2 class="govuk-heading-s">Full name
    <p class="govuk-body">{{ params.fullName }}</p>
    <h2 class="govuk-heading-s">Vehicle reg
    <p class="govuk-body">{{ params.vehicleReg}}</p>
</div>
