{% extends "layouts/main.html" %}

{% from 'components/cards/macro.njk' import card %}

{% set serviceName="Applications" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="/" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-xl">
    {{application.fullName}}
    </h1>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ID
          </dt>
          <dd class="govuk-summary-list__value">
            {{application.id}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{application.address.firstLine}}</p>
            <p>{{application.address.town}}</p>
            <p>{{application.address.postCode}}</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Vehicle Length 
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- is the vehicle isLonger? true, then show metres -->
            {% if application.vehicleLength.isLonger %}
              <p>{{application.vehicleLength.meters}}</p>
            {% else %}
              <p>Less than 18.65</p>
            {% endif %}
            <!-- if no then say less than 18.5 -->
          </dd>
        </div>
      </dl>
  </div>
</div>

{% endblock %}
