{% extends "layouts/main.html" %}

{% from 'components/cards/macro.njk' import card %}

{% set serviceName="Manage fairground vehicle licence applications" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

  <form>
  
  <h2 class="govuk-heading-l">Filters</h2>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h3 class="govuk-fieldset__heading govuk-heading-s ">
          Status
        </h3>
      </legend>
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation" name="filterStatus" type="checkbox" value="approved">
          <label class="govuk-label govuk-checkboxes__label" for="organisation">
            Approved
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-2" name="filterStatus" type="checkbox" value="not approved">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
            Not approved
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-3" name="filterStatus" type="checkbox" value="awaiting approval">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
            Awaiting decision
          </label>
        </div>
        
      </div>
    </fieldset>
  </div>

  <button type="submit" class="govuk-button" data-module="govuk-button">
    Update
  </button>
</form>
  </div>
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    {% for application in applications%}

      {{ card(application) }}
    
    {% endfor %}

  </div>
</div>

{% endblock %}
